name: cool_nav
description: A collection of really awesome, easy to use Bottom Navigation Bars.
version: 0.0.2
homepage: https://github.com/masterashu/flutter_cool_nav
repository: https://github.com/masterashu/flutter_cool_nav
issue_tracker: https://github.com/masterashu/flutter_cool_nav/issues

environment:
  sdk: ">=2.1.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
